<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form 1</title>
        <link rel="stylesheet" href="exam_demo.css">
    </head>
    <body>
        <div class="left"></div>

        <div class="right">
            <div class="box">
                <h1>Login</h1>
                <form class="form">
                    <label for="email" id="email_label"> Email </label><br>
                    <input type="text" id="email"><br><br>

                    <label for="password" id="password_label"> Password </label><br>
                    <input type="text" id="password" ><br><br>

                    <input type="checkbox" id="rem" value="yes">
                    <label for="rem">Remember</label><br><br>

                    <input type="submit" id="butt" value="Sign In"><br>
                </form>
            </div> 
        </div>
    </body>
    </html>
    